.category_list_container a {
  background-color: bisque;
  padding: 2rem 3rem;
}

.product_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 0.5rem;
}

/* udsalg */
.sale a {
  display: grid;
}

.sale-box {
  background-color: firebrick;
  max-width: max-content;
  color: white;
  padding: 0.5rem;
  position: absolute;
  margin: 0.5rem;
}

.old-price {
  text-decoration: line-through;
  color: rgb(118, 118, 118);
  margin-left: 0.8rem;
}

.sale .price {
  display: flex;
}

/* sold out */
.soldout a {
  display: grid;
}
.soldout img {
  filter: opacity(60%) brightness(50%) grayscale(70%);
  grid-area: 1/1;
}

.sold-text {
  grid-area: 1/1;
  place-self: center;
}

.sold-text p {
}
